# ignore target codebases
/targetCodebases

# database stuff
/vectorStores
/my_chroma_data


agent/file_summary_agent_output/
agent/directory_agent_output/
agent/BR_agent_output/
agent/UT_agent_output/
agent/UTV_agent_output/
agent/IT_agent_output/

.env
.vscode/
__pycache__/
*.pyc
.venv/
node_modules/

# ignore everything related to packaging the backend
build/
# ignore everything in the packaged backend
releases/main/
# ignore anything related to electron packaging
dist/
.DS_Store
